.hero {
  background-image: url("../images/a-cup-of-coffee-with_heart.jpg");
  max-width: 1280px;
  height: 450px;
  padding: 134px 85px;
  margin-bottom: 180px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hero h2 {
  color: #fefcf7;
  margin-bottom: 32px;
}
.hero p {
  max-width: 445px;
  font-family: Barlow-400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(254, 252, 247, 0.8);
  mix-blend-mode: normal;
}

// CHOOSE

.choose-box__circle,
.header-logo {
  display: flex;
  justify-content: space-between;
}
.card___number,
.hero h2 {
  font-size: 72px;
  line-height: 72px;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-style: normal;
}

.choose {
  max-width: 1280px;
  height: 653px;
  background: #2c343e;
  border-radius: 10px;
  margin-bottom: 110px;
  padding: 91px 150px 107px 85px;
}
.choose-box {
  max-width: 783px;
  margin-bottom: 67px;
  margin-right: 250px;
}
.choose-box__line {
  width: 96%;
  height: 0;
  border: 0.5px solid #fdd6ba;
  background: #fdd6ba;
  margin-left: 15px;
}
.choose-box__circle {
  max-width: 791px;
  margin-top: -16.5px;
}
.choose-card-box,
.content {
  display: flex;
  justify-content: space-between;
}
.choose-box___circle {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #0e8784;
}
.choose-card-box {
  max-width: 1045px;
  gap: 10px;
  margin: 0 auto;
}
.choose__card {
  width: 285px;
  height: 340px;
}
.card___number {
  color: #fdd6ba;
  margin-bottom: 38px;
}
.card____title,
.card___title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #fefcf7;
  margin-bottom: 43px;
}
.card____title {
  margin-right: 100px;
}
.card___description {
  font-family: Barlow-400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

// CONTENT

.content {
  max-width: 1110px;
  margin: 0 auto;
}
.aside__description,
.aside__number {
  display: inline-block;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-style: normal;
}
.aside {
  width: 255px;
  height: 356px;
}
.aside__number {
  font-size: 24px;
  line-height: 32px;
  color: rgb(131, 136, 143, 0.25);
}
.aside__number:first-child {
  color: rgb(14, 135, 132, 0.25);
}
.aside__number:nth-child(17) {
  color: #83888f;
}
.aside__description {
  font-size: 24px;
  line-height: 32px;
  color: rgb(51, 61, 75, 0.35);
  margin-bottom: 24px;
}
.aside__description:nth-child(18) {
  color: #333d4b;
}
.aside__line {
  height: 1px;
  background: rgb(131, 136, 143, 0.25);
}
.content-box__delivery__title,
.content-box__drink--title,
.content-box__grind__title,
.content-box__how__much__title,
.content-box__type--title {
  display: inline-block;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
  margin-bottom: 56px;
}

#box__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

// .content-box__drink--vector {
//   margin-left: 80px;
// }
// .content-box__type--img {
//   margin-left: 285px;
// }
// .content-box__how__much__img {
//   margin-left: 159px;
// }
// .content-box__grind__img {
//   margin-left: 229px;
// }
// .content-box__delivery__img {
//   margin-left: 103px;
// }
.content-card-box,
.drink-card-box {
  display: flex;
  justify-content: space-between;
  max-width: 730px;
  height: 250px;
  margin-bottom: 88px;
  gap: 10px;
}
.content-card,
.content-card-cafetiere,
.content-card-decaf,
.content-card-every,
.content-card-week,
.content-card-weight,
.drink-card {
  width: 228px;
  background: #f4f1eb;
  border-radius: 8px;
  padding: 32px 28px 84px;
}
.content-card-cafetiere,
.content-card-decaf,
.content-card-every,
.content-card-weight,
.drink-card:nth-child(2),
.plan_btn:hover {
  background: #0e8784;
}
.content-card-week {
  padding: 32px 25px 84px 28px;
}
.content-card__title,
.drink-card___title,
.drink-card__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}
.content-card__subtitle,
.drink-card___subtitle,
.drink-card__subtitle {
  font-family: Barlow-400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.content-card-cafetiere p,
.content-card-decaf p,
.content-card-every p,
.content-card-weight p,
.drink-card___subtitle,
.drink-card___title {
  color: #fff;
}
.order-summary {
  max-width: 730px;
  height: 208px;
  background: #2c343e;
  padding: 27px 64px;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.order-summary__title {
  font-family: Barlow-400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgb(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.order-summary__subtitle,
.plan_btn {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-style: normal;
}
.order-summary__subtitle {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
.order-summary a,
.plan_btn {
  color: #0e8784;
}
.plan_btn {
  font-size: 18px;
  line-height: 25px;
  background: #0e8784;
  color: #fff;
  border: 1px solid #0e8784;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 15px 35.5px 16px;
  cursor: pointer;
}
.plan_btn:hover {
  color: #fff;
  background: #66d2cf;
  border: 1px solid transparent;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.plan_btn:active {
  background: #66d2cf;
  border: 1px solid #66d2cf;
  color: #fff;
}

.deliver-box {
  margin-bottom: 144px;
}

.header-burger {
  display: none;
}

#extra-section {
  max-width: 1280px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 0 4px;
  margin-bottom: 168px;

  .plan_btn {
    width: auto;
  }
}

// Media 1049px, 806px 653px

@media only screen and (max-width: 768px) {
  #extra-section {
    align-items: center;
  }
}

@media only screen and (max-width: 1125px) {
  .choose {
    padding: 97px 39px;
    .card____title h4,
    .card____title h5 {
      font-size: 28px;
      line-height: 32px;
    }
    .card___description {
      font-size: 15px;
      line-height: 25px;
    }

    .customize {
      padding-right: 5px;
    }
    .package {
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .aside {
    display: none;
  }
  .content-box {
    width: 100%;
    margin: 0 auto;
  }

  .content-box__drink,
  .content-box__type,
  .content-box__how__much,
  .content-box__grind,
  .content-box__delivery {
    max-width: 689px;
    margin: 0 auto;
  }

  .content-box__delivery__title,
  .content-box__drink--title,
  .content-box__grind__title,
  .content-box__how__much__title,
  .content-box__type--title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  .content-box__drink {
    width: 98%;
    margin: 0 auto 88px;
  }
  .content-card-week {
    padding: 32px 20px 84px 28px;
  }
}

@media only screen and (max-width: 970px) {
  .choose-box {
    width: 72%;
    margin-right: 0;

    .choose-box__line {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 890px) {
  .card____title {
    margin-right: 0;
  }
}

@media only screen and (max-width: 850px) {
  .choose-box {
    .choose-box__line {
      width: 94%;
    }
  }
}

@media only screen and (max-width: $Tablet) {
  .hero {
    background-image: url("../../images/hero_creative_tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 127px 58px 126px;

    h2 {
      font-size: 48px;
      line-height: 48px;
    }

    p {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 701px) {
  .content-card-box,
  .drink-card-box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .content-box__drink,
  .content-box__type,
  .content-box__how__much,
  .content-box__grind,
  .content-box__delivery {
    margin-bottom: 400px;
  }
}

@media only screen and (max-width: 653px) {
  .choose {
    height: 1028px;
    padding: 80px 20px 79px;
    .choose-box {
      display: none;
    }
    .choose-card-box {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 56px;
    }

    .choose__card {
      width: 100%;
      height: 251px;

      h3,
      h4 {
        margin-bottom: 24px;
      }
      .card___title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 24px;
      }
    }

    .customize {
      padding-right: 0px;
    }
    .package {
      padding: 0 3px;
    }
  }
}

@media only screen and (max-width: 593px) {
  #extra-section {
    height: 450px;

    .order-summary {
      height: 338px;
      padding: 32px 25px;
    }

    .order-summary__subtitle {
      padding-right: 8px;
    }
  }
}

@media only screen and (max-width: 508px) {
  .hero {
    background-image: url("../../images/hero_creative_mobile.jpg");

    text-align: center;
    padding: 101px 24px 136px;
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
    p {
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 492px) {
  .content-box__drink {
    margin-bottom: 650px;
  }
}

@media only screen and (max-width: 482px) {
  .content-box__drink,
  .content-box__type,
  .content-box__how__much,
  .content-box__grind,
  .content-box__delivery {
    margin-bottom: 650px;
  }
}

@media only screen and (max-width: 431px) {
  .drink-card-box,
  .content-card-box,
  .content-card,
  .content-card-cafetiere,
  .content-card-decaf,
  .content-card-every,
  .content-card-week,
  .content-card-weight,
  .drink-card {
    width: 100%;
  }

  .content-card,
  .content-card-cafetiere,
  .content-card-decaf,
  .content-card-every,
  .content-card-week,
  .content-card-weight,
  .drink-card {
    padding: 24px 25px;
    height: 140px;
  }

  .content-card__title,
  .drink-card___title,
  .drink-card__title {
    margin-bottom: 8px;
  }

  .content-box__type,
  .content-box__how__much,
  .content-box__grind,
  .content-box__delivery {
    margin-bottom: 300px;
  }
  .content-box__drink {
    margin-bottom: 300px;
  }
}
