@font-face {
   font-family: Barlow-400;
   src: url("../fonts/Barlow/Barlow-Regular.ttf");
 }
 @font-face {
   font-family: Barlow-700;
   src: url("../fonts/Barlow/Barlow-Bold.ttf");
 }
 @font-face {
   font-family: "Fraunces 9pt";
   src: url("../fonts/Fraunces/static/Fraunces/Fraunces-Black.ttf");
 }